.keys{
    display:grid;
    grid-template-columns:180px 200px 200px;
    grid-template-rows:80px 80px 80px;
    margin:auto;

}
.drum-pad{
    border:1.5px solid white;
    background:none;
    color:#E7D7C7;
    font-size:2em;
    font-weight: 800;
    padding:5px;
    margin:5px;
}
.active1{
    background-color:#B33CE1;
}
@media screen and (min-width:751px){
    .active2{
        background-color:none;
        transition:background-color 0.05s;
    }
    .active2:hover{
        background-color: #B33CE1;
    }
}

@media screen and  (max-width:750px){
    .keys{
        display:grid;
        grid-template-columns:80px 80px 80px;
        grid-template-rows:80px 80px 80px;
    }
    .active2:active{
        background-color: #B33CE1;
    }
  

}