.main-cont{
    display:flex;

    justify-content: center;
}
#drum-machine{
    margin-right:auto;
    margin-left:auto;
    display:flex;
    flex-direction:row;
    text-align: center;
    justify-content:end;
    width:50%;
    align-self:flex-start;
  
    
}
.makeStyles-root-1{
    width:100%;
    position:fixed;
   color:rgb(5, 1, 6) !important;
    top:0;
}

.circle.small {
	border: 16px solid white;
	border-radius: 50%;
	width: 250px;
	height: 250px;
    margin:auto;
    margin-top:6em;
    text-align:center;
}
#display{
    font-size:10em;
    margin-top:10px;
}
  
