
#drum-machine{
    margin-right:auto;
    margin-left:auto;
    display:flex;
    flex-direction:row;
    text-align: center;
    max-width:100%;
    
  
    
}


.circle.small {
	border: 16px solid white;
	border-radius: 50%;
	width: 250px;
	height: 250px;
    margin:auto;
    margin-top:6em;
    text-align:center;
}
#display{
    font-size:10em;
    margin-top:10px;
}
  
