#drum-machine{
    margin-right:auto;
    margin-left:auto;
    position: fixed;
 
    bottom: 10px;
    border: 1px solid #534EA4;
    display:flex;
    flex-direction: row;
    justify-content: end;
    
}
.makeStyles-root-1{
    width:100%;
    position:fixed;
   color:rgb(5, 1, 6) !important;
    top:0;
}